

        <!-- main page content -->
   
        <div class="main-container container">
            <!-- popular shopping  -->
            <div class="row mb-3 gap-0">
                <div class="col">
                    <h6 class="title">Scanned Ticket History</h6>
                </div>
                <div class="col-auto">
                    <small class="text-secondary">1 items</small>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush bg-none">
                                
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="card shadow-none">
                                                <div class="card-body p-0">
                                                    <div class="avatar avatar-60 rounded-6 coverimg">
                                                        <%= image_tag('red-colored_qr.png') %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col align-self-center ps-0">
                                            <p class="text-danger size-10 mb-0 qr-value-reduced">0001472f0960ba91cc8b45831d6e74f6</p>
                                            <p class="size-12 mt-2">QR-1</p>
                                        </div>
                                        <div class="col align-self-center text-end">
                                            <p class="text-danger size-12 mb-0">Invaid Ticket</p>
                                            <p class="text-secondary text-muted size-10 mb-0">15-10-2021</p>
                                            <p class="text-secondary text-muted size-10 mb-0">11:35am</p>
                                            <p class="text-muted size-10 mb-0"><i><%= user.name[0,15] %></i></p>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- main page content ends -->


    </main>
    <!-- Page ends-->





<!-- Footer -->
<footer class="footer footer-squared">
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <%= link_to  profile_path, class: "nav-link", style:"text-decoration: none;" do %>
                    <span>
                        <i class="nav-icon bi bi-person-circle"></i>
                        <span class="nav-text">Profile</span>
                    </span>
                <% end %>

            </li>

            <li class="nav-item">
                <a class= "nav-link", style="text-decoration: none;" onclick=changePage("<%= scanner_url %>")>
                    <span class="">
                        <i class="bi bi-camera-fill"></i>
                        <span class="nav-text">Scan</span>
                    </span>
                </a>
            </li>

            <li class="nav-item square-footerbtn">
                  <%= link_to  history_path, class: "nav-link", style:"text-decoration: none;" do %>
                    <span class="bg-theme">
                        <i class="bi bi-list-task size-22"></i>
                        <span class="nav-text">History</span>
                    </span>
                  <% end %>
                
            </li>

            <li class="nav-item">
                <%= link_to  settings_path, class: "nav-link", style:"text-decoration: none;" do %>
                    <span>
                        <i class="nav-icon bi bi-gear-fill"></i>
                        <span class="nav-text">Settings</span>
                    </span>
                <% end %>
            </li>

        </ul>
    </div>
</footer>
<!-- Footer ends-->

<style type="text/css">

.qr-value-reduced{
  max-width: 110px;
  word-wrap: break-word;
}

</style>

