

        <!-- main page content -->
   
        <div class="main-container container">
            <!-- popular shopping  -->
            <div class="row mb-3 gap-0">
                <div class="col">
                    <h6 class="title">My Scanned Ticket History</h6>
                </div>
                <div class="col-auto">
                    <small class="text-secondary"><%= @history_count %></small>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <ul class="list-group list-group-flush bg-none" id="history-list">
                        <!-- @users_list={ "hqwdwqjd" : {name: Noman, scanned_at: 12:00pm} } -->
                        <%= render 'qr_codes/qr_history' %>
                    </ul>
                </div>
            </div>

        </div>
        <!-- main page content ends -->


    </main>
    <!-- Page ends-->


<!-- Footer -->
<footer class="footer footer-squared">
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <%= link_to  profile_path, class: "nav-link", style:"text-decoration: none;" do %>
                    <span>
                        <i class="nav-icon bi bi-person-circle"></i>
                        <span class="nav-text">Profile</span>
                    </span>
                <% end %>

            </li>

            <li class="nav-item">
                <a class= "nav-link", style="text-decoration: none;" onclick=changePage("<%= scanner_url %>")>
                    <span class="">
                        <i class="bi bi-camera-fill"></i>
                        <span class="nav-text">Scan</span>
                    </span>
                </a>
            </li>

            <li class="nav-item square-footerbtn">
                  <%= link_to  history_path, class: "nav-link", style:"text-decoration: none;" do %>
                    <span class="bg-theme">
                        <i class="bi bi-list-task size-22"></i>
                        <span class="nav-text">History</span>
                    </span>
                  <% end %>
                
            </li>

            <li class="nav-item">
                <%= link_to  settings_path, class: "nav-link", style:"text-decoration: none;" do %>
                    <span>
                        <i class="nav-icon bi bi-gear-fill"></i>
                        <span class="nav-text">Settings</span>
                    </span>
                <% end %>
            </li>

        </ul>
    </div>
</footer>
<!-- Footer ends-->

<style type="text/css">

.qr-value-reduced{
  max-width: 110px;
  word-wrap: break-word;
}

</style>


<script type="text/javascript">
  window.addEventListener("unload", function () {
  const history_list_el = document.getElementById("history-list")
    load_history_data()

  function function_name(argument) {
    // body...
  }

  function load_history_data(){
    params = {} //{user_id: user_id}
    $.ajax({
      type: "GET",
      url: "/history_data",
      success: function(response){
        console.log("get_crnt_usr_qr_history request Success")
        console.log(response)
        get_history_cards(response.data)
      },
      error: function(response){ console.log(response) 
        console.log("get_crnt_usr_qr_history request Failed")}
    })
  }

  function get_style(obj){
    let style_flag
    let data_format = {
      "success": {
        "img": "green",
        "text_style": "success",
        "message": "Approved"
      },
      "failed": {
        "img": "red",
        "text_style": "danger",
        "message": "Failed"
      },
      "invalid": {
        "img": "orange",
        "text_style": "warning",
        "message": "Invalid"
      }
    }
    if(!obj.invalid_qr){
      if (obj.scan_status==true){
          style_flag = "success"
      }else{
          style_flag = "failed"
      }
    }else{
      style_flag = "invalid"
    }
    return data_format[style_flag]
  }

  function get_history_cards(user_data){
    
    for (let y of user_data) {
      console.log(y)

      style = get_style(y)

      let dt = new Date("2022-11-09T22:58:23.148+05:30")
      let newdatetime = dt.toLocaleString()
      history_list_el.innerHTML += `
          <div class="card mb-1">
            <div class="card-body p-0">

              <li class="list-group-item"> 
                <div class="row">
                  <div class="col-auto">
                    <div class="card shadow-none">
                      <div class="card-body p-0">
                       <%= image_tag('black-colored_qr.png') %>
                      </div>
                    </div>
                  </div>
                <div class="col align-self-center ps-0">
                  <p class="text-${style.text_style} size-10 mb-0 qr-value-reduced">${style.message}</p>
                  <p class="size-12 mt-2">${y.scan_value_name}</p>
                </div>
                <div class="col align-self-center text-end">
                  <p class="text-${style.text_style} size-12 mb-0">${y.scan_status}</p>
                  <p class="text-secondary text-muted size-10 mb-0">${newdatetime.split(", ")[0]}</p>
                  <p class="text-secondary text-muted size-10 mb-0">${newdatetime.split(", ")[1]}</p>
                  <p class="text-muted size-10 mb-0"><i>${y.username}</i></p>
                </div>
              </div>
            </div>
          </div>`
    }
  }
  })
</script>

