

<!-- Begin page -->
<main class="h-100 theme-light-radial-gradient">


<!-- main page content -->
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
<div class="main-container container">
    <div class="row top-15">
        <div class="col-6 col-sm-auto px-0">
            <figure class="avatar avatar-180 w-100 rounded-0 bg-white shadow-sm">
                <%= image_tag("user1.jpg") %>
            </figure>
        </div>
        <div class="col align-self-center">
            <h2 class="mb-0"><span class="fw-light text-secondary">Hello! </span></h2>
            <h2 class="mb-2">John Doe</h2>
            <p class="text-muted size-12">New York City, United States</p>
        </div>
    </div>

   
  </div>

  
<!-- Footer -->
<footer class="footer footer-squared">
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item square-footerbtn">
                <%= link_to  profile_path, class: "nav-link", style:"text-decoration: none;", onclick:"change_bottom_style()" do %>
                    <span class="bg-theme">
                        <i class="nav-icon bi bi-person-circle size-22"></i>
                        <span class="nav-text">Profile</span>
                    </span>
                <% end %>

            </li>

            <li class="nav-item">
                <a class= "nav-link", style="text-decoration: none;" onclick=changePage("<%= scanner_url %>")>
                    <span class="">
                        <i class="bi bi-camera-fill"></i>
                        <span class="nav-text">Scan</span>
                    </span>
                </a>
            </li>

            <li class="nav-item">
                  <%= link_to  history_path, class: "nav-link", style:"text-decoration: none;", onclick:"change_bottom_style()" do %>
                    <span>
                        <i class="nav-icon bi bi-list-task"></i>
                        <span class="nav-text">History</span>
                    </span>
                  <% end %>
                
            </li>

            <li class="nav-item">
                <%= link_to  settings_path, class: "nav-link", style:"text-decoration: none;", onclick:"change_bottom_style()" do %>
                    <span>
                        <i class="nav-icon bi bi-gear-fill"></i>
                        <span class="nav-text">Settings</span>
                    </span>
                <% end %>
            </li>

        </ul>
    </div>
</footer>
<!-- Footer ends-->
