<div class="container mt-5">
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class="text-center mb-4" style="color: #6562df;">Create New Account</h2>
      <%= form_with url: signup_path, method: :post do |f| %>
        <div class="mb-3">
          <%= f.label :name, class:'form-label'%>
          <%= f.text_field :name, type: "text", required: "true", class:"form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class:'form-label'%>
          <%= f.text_field :email, type: "email", autofocus: "true", required: "true", class:"form-control" %>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <%= f.label :password, class:'form-label'%>
          <%= f.text_field :password, type: "password", required: "true", class:"form-control" %>
        </div>
        <%= f.submit "Signup", class:'btn btn-primary', style:"background-color: #6562df;" %>
      <% end %>
      <br><br>
      <p class="text-center"><%= link_to "Existing User? Login", login_path %></p>
    </div>
  </div>
</div>

<style type="text/css">
  .form-control{
    font-size: 13px;
  }
</style>
